.form-wrapper {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.form-card {
  display: flex;
  flex-direction: column;
}

.form-title {
  padding-bottom: 15px;
}

mat-form-field {
  width: 100%;
}

.buttons {
  justify-content: flex-end;
  display: flex;
  gap: 10px;
  padding: 15px;
}

.checkbox-activo {
  margin-top: 15px;
}

.form-row { 
  display: flex; 
  gap: 10px; 
}

.form-row mat-form-field, .full-width { 
  flex: 1; 
}
