/* .form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.form-card {
  width: 100%;
  max-width: 650px; 
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.08);
}

.form-title {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 18px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding-bottom: 20px;
}

.center-actions {
  display: flex;
  justify-content: center;
} */
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-card {
  width: 100%;
  max-width: 650px; /* <= SE ADAPTA automáticamante */
  padding: 20px;
}

/* Inputs responsivos */
mat-form-field {
  width: 100%;
}

/* Para pantallas pequeñas */
@media (max-width: 600px) {
  .form-card {
    max-width: 95%;
    padding: 15px;
  }

  mat-form-field {
    width: 100%;
  }
}
